 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("https://assets.nicepagecdn.com/b8260a05/5131006/images/wallpaperflare.com_wallpaper1.jpg");
  background-position: 10% 10%;
}
.u-section-1 .u-sheet-1 {
  min-height: 980px;
}
 .u-nav-container {
   font-family: 'Montserrat', sans-serif;
   font: 20%;
   transition: ease 0.8s;
 }
 .u-nav-container:hover {
   color: orange;
 }
.u-section-1 .u-image-1:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 3s ease;
}
.u-section-1 .u-list-1 {
  width: 1140px;
  margin: -6px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 303px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 23px;
}

.u-section-1 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  top: 150%;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  text-shadow: -2px 0 3px rgba(255,143,21,0);
  top: 150%;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  top: 150%;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-2 {
  top: 122%;
  padding: 30px 30px 23px;
}

.u-section-1 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0;
  color: white;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  top: 122%;
  padding: 30px 30px 23px;
}

.u-section-1 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

/*Text Hover*/
.u-text-5:hover {
  color: rgb(150, 150, 150);
  transition: ease 0.8s;
}
.u-text-3:hover {
  color: rgb(150, 150, 150);
  transition: ease 0.8s;
}

.u-section-1 .yazi2 {
  position: absolute;
  display: flex;
  left: 20%;
  top: 15%;
}
/*Resim Hover*/

.u-section-1 .u-icon-1:hover {
 transform: scale(1.2);
 z-index: 2;
 transition: ease 0.8s;
}
.u-section-1 .u-icon-2:hover {
  transform: scale(1.2);
  z-index: 2;
  transition: ease 0.8s;
 }
 .u-section-1 .u-icon-3:hover {
  transform: scale(1.2);
  z-index: 2;
  transition: ease 0.8s;
 }

.u-section-1 .u-text-5 {
  text-shadow: -2px 0 3px rgba(255,143,21,0);
  color: white;
  margin: 20px auto 0;
}
.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-icon-4 {
  height: 32px;
}

.u-section-1 .u-icon-5 {
  height: 32px;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: 610px auto 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 249px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 586px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}

.u-section-1 .u-social-icons-1,
.u-section-1 .u-social-icons-1:before,
.u-section-1 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-social-icons-1.u-social-icons-1.u-social-icons-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(255,143,21,0) !important;
}

.u-section-1 .u-social-icons-1 {
  border-color: transparent !important;
}

.u-section-1 .u-social-icons-1.u-social-icons-1.u-social-icons-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(255,143,21,0) !important;
}

.u-section-1 .u-social-icons-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}